<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
        <link type="text/css" href="styles/site.css" rel="stylesheet">
        <link type="text/css" href="styles/custom.css" rel="stylesheet">

        <script src="scripts/jquery-1.8.1.min.js"></script>
        <script src="scripts/bootstrap.min.js"></script>

        <script src="scripts/angular.min.js"></script>
        <script src="scripts/parse-1.2.16.min.js"></script>
        <script src="scripts/moment.min.js"></script>
        <script src="scripts/jre.js" combo="false"></script>
        <script src="scripts/podcasts.js" combo="false"></script>
        <script src="scripts/guests.js" combo="false"></script>
    </head>
    <body ng-app="JreApp" data-spy="scroll" data-target="#nav-collapse">
        <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-container">
                <div class="navbar-header">
                    <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </button>
                    <a href="/" class="navbar-brand">The Joe Rogan Experience</a> 
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse" id="nav-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/" class="scroll brand-1" title="Home page" data-spy="scroll">Home</a></li>
                        <li><a class="brand-4" href="/podcasts" title="Podcasts" data-spy="scroll">Podcasts</a></li>
                        <li class="active"><a class="brand-3" href="/guests" title="Guests" data-spy="scroll">Guests</a></li>
                    </ul>
                </div>
            </div><!-- /.navbar-container -->
        </nav>
        <div class="page color-3" ng-controller="GuestsController as guestCtrl" ng-init="guestCtrl.init('0', '16', '2')">
            <div class="inner-page">
                <h2 class="page-headline">Podcast Guests</h2>
            </div>
            <div class="row inner-page">
                <div class="form-group col-md-12">
                    <input type="text" class="form-control" placeholder="Search eg. Joey Diaz or Bert"  ng-model="guestCtrl.term" ng-enter="guestCtrl.search()">
                </div>
            </div>
            <div class="row guest-row inner-page team" ng-repeat="row in guestRows">
                <div class="col-md-6" ng-repeat="guest in row.guests">
                    <div class="clearfix guest-details-container">
                        <div ng-if="guest.image" class="col-md-4">
                            <img class="img-responsive" ng-src="##guest.image##"/>
                        </div>
                        <div class="col-md-8">
                            <h4><span ng-bind="guest.name"></span></h4>
                            <p ng-bind="guest.description"></p>
                            <ul ng-if="guest.twitterUsername">
                                <li><i class="fa fa-twitter"></i> <a ng-href="http://twitter.com/##guest.twitterUsername##">@<span ng-bind="guest.twitterUsername"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="color-4 guest-episodes-container">
                        Episodes: <span ng-repeat="episode in guest.episodes">
                            <a ng-href="/podcasts?episode=##episode##">#<span ng-bind="episode"></span></a><span ng-if="$last != true" class="animate-if">, </span>
                        </span>
                    </div>
                    <div class="col-md-12 visible-xs">
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row inner-page">
                <div class="col-md-12"><a ng-click="guestCtrl.more()" class="btn btn-primary btn-centered" title="View more guests"> <i class="fa fa-arrow-circle-o-down"></i> More</a></div>
            </div>
        </div>
        <div class="page color-2">

        </div>
    </body>
</html>