<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
        <link type="text/css" href="styles/site.css" rel="stylesheet">
        <link type="text/css" href="styles/custom.css" rel="stylesheet">

        <script src="scripts/jquery-1.8.1.min.js"></script>
        <script src="scripts/bootstrap.min.js"></script>

        <script src="scripts/angular.min.js"></script>
        <script src="scripts/parse-1.2.16.min.js"></script>
        <script src="scripts/moment.min.js"></script>
        <script src="scripts/jre.js" combo="false"></script>
        <script src="scripts/podcasts.js" combo="false"></script>
        <script src="scripts/guests.js" combo="false"></script>
    </head>
    <body ng-app="JreApp" data-spy="scroll" data-target="#nav-collapse">
        <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-container">
                <div class="navbar-header">
                    <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </button>
                    <a href="/" class="navbar-brand">The Joe Rogan Experience</a> 
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse" id="nav-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/" class="scroll brand-1" title="Home page" data-spy="scroll">Home</a></li>
                        <li class="active"><a class="brand-4" href="/podcasts" title="Podcasts" data-spy="scroll">Podcasts</a></li>
                        <li><a class="brand-3" href="/guests" title="Guests" data-spy="scroll">Guests</a></li>
                    </ul>
                </div>
            </div><!-- /.navbar-container -->
        </nav>
        <div ng-controller="PodcastController as podcastCtrl" ng-init="podcastCtrl.init('0', '6', '3')">
            <div class="page color-1 hide" id="featurePodcast">
                <div class="inner-page">
                    <h2 class="page-headline large">Episode #<span ng-bind="featurePodcast.episode"></span> - <span ng-bind="featurePodcast.guests.join(', ')"></span></h2>
                </div>
                <div class="row inner-page">
                    <div class="col-md-8 col-md-push-4 lazy-container loaded">
                        <div youtube code="featurePodcast.featureVideo"></div>
                    </div>
                    <div class="col-md-4 col-md-pull-8">
                        <div><h3><i class="fa fa-clock-o"></i> <span ng-bind="featurePodcast.date"></span></h3></div>
                        <div><p ng-bind="featurePodcast.description"></p></div>
                        <div><a ng-href="http://traffic.libsyn.com/joeroganexp/p##featurePodcast.episode##.mp3" target="_blank"><i class="fa fa-download"></i> Download mp3</a></div>
                    </div>
                </div>
            </div>
            <div  class="page color-3">
                <div class="inner-page">
                    <h2 class="page-headline">Podcasts</h2>
                </div>
                <div class="row inner-page">
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" placeholder="Search eg. Joey Diaz or Bert or 432"  ng-model="podcastCtrl.term" ng-enter="podcastCtrl.search()">
                    </div>
                </div>
                <div class="inner-page row podcast-row" ng-repeat="row in podcastRows">
                    <div class="features list-inline">
                        <div class="col-md-4" ng-repeat="podcast in row.podcasts">
                            <div ng-if="podcast.featureImage" class="podcast-feature-image col-md-12">
                                <a ng-click="podcastCtrl.get(podcast.episode)">
                                    <img class="img-responsive" ng-src="##podcast.featureImage##"/>
                                </a>
                            </div>
                            <h3>#<span ng-bind="podcast.episode"></span> - <span ng-bind="podcast.guests.join(', ')"></span></h3>
                            <div class="color-3 podcast-date-container">
                                <h6 class="clearfix">
                                    <div class="pull-left">
                                        <i class="fa fa-clock-o"></i> <span ng-bind="podcast.date"></span>
                                    </div>
                                    <div class="pull-right">
                                        <a ng-href="http://traffic.libsyn.com/joeroganexp/p##podcast.episode##.mp3" target="_blank">
                                            <i class="fa fa-download"></i> Download mp3</a>
                                    </div>
                                </h6>
                            </div>
                            <p ng-bind="podcast.description"></p>
                            <div class="col-md-12 visible-xs">
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row inner-page">
                    <div class="col-md-12"><a ng-click="podcastCtrl.more()" class="btn btn-primary btn-centered" title="View more podcast"> <i class="fa fa-arrow-circle-o-down"></i> More</a></div>
                </div>
            </div>
        </div>
        <div class="page color-2">

        </div>
    </body>
</html>